<a href="https://colab.research.google.com/github/veenamekkatt/DSA_Assignments/blob/main/CaseStudy06Anova.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data=pd.read_csv("/content/Sales_data_zone_wise.csv")

In [5]:
data.head()

       Month  Zone - A  Zone - B  Zone - C  Zone - D
0  Month - 1   1483525   1748451   1523308   2267260
1  Month - 2   1238428   1707421   2212113   1994341
2  Month - 3   1860771   2091194   1282374   1241600
3  Month - 4   1871571   1759617   2290580   2252681
4  Month - 5   1244922   1606010   1818334   1326062

In [6]:
mean=data.mean(axis=0)
round(mean,2)

Zone - A    1540493.14
Zone - B    1755559.59
Zone - C    1772871.03
Zone - D    1842926.76
dtype: float64

## ANOVA
Consider H0:Mean sales in each zones are same,H1:Atleast one of the zones mean is different

In [7]:
import scipy.stats as stats
data.columns

Index(['Month', 'Zone - A', 'Zone - B', 'Zone - C', 'Zone - D'], dtype='object')

In [8]:
fvalue,pvalue=stats.f_oneway(data['Zone - A'],data['Zone - B'],data['Zone - C'],data['Zone - D'])
fvalue,pvalue

(5.672056106843581, 0.0011827601694503335)

In [9]:
# P value is lessthan 0.05 so we reject the nullhypothesis that the mean sales in each zones are same.Ie mean sales in each zones are different.