<a href="https://colab.research.google.com/github/veenamekkatt/DSA_Assignments/blob/main/Week09_Group14_Anova.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
# load data file
df = pd.read_csv("/content/Advertising.csv")

In [4]:
df.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [3]:
import scipy.stats as stats
# stats f_oneway functions takes the groups as input and returns ANOVA F and p value
fvalue, pvalue = stats.f_oneway(df['TV'], df['Radio'], df['Newspaper'], df['Sales'])
print(fvalue, pvalue)

387.1443086202217 5.150514456276615e-155

In [ ]:
# Conclusion : Since pvalue is <0.05 there is significance difference between the amount spent for the 3 advertisements